<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VinoVault - Your Personally Curated Wine Vault</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>
    <header>
        <img src="/images/vinovaultlogo.png" alt="VinoVault Logo" class="logo">
        <% if (locals.user && locals.user.email) { %>
            <div class="user-links">
                <a href="/vault">My Vault</a>
                <a href="/auth/logout">Logout</a>
            </div>
        <% } %>
    </header>
    <main class="auth-main">
        <div class="auth-container">
            <div class="auth-box">
                <h2>New to VinoVault?</h2>
                <p>Create an account to start your journey through the world of wines.</p>
                <a href="/auth/new" class="auth-button">Register</a>
            </div>
            <div class="auth-box">
                <h2>Already a Vino?</h2>
                <p>Login to your vault to view your curated collection of your favorite wines.</p>
                <a href="/auth/" class="auth-button">Login</a>
            </div>
            <div class="auth-box">
                <h2>Leaving so soon?</h2>
                <p>We hope to see you again soon. Safe travels!</p>
                <a href="/auth/exit" class="auth-button">Exit</a>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>