<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VinoVault</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>
<body>
<main class="auth-main">
    <div class="auth-container">
        <div class="auth-box">
            <h2>New to VinoVault?</h2>
            <p>Create an account to start your journey through the world of wines.</p>
            <a href="/auth/new" class="auth-button">Register</a>
        </div>
        <div class="auth-box">
            <h2>Already a Vino?</h2>
            <p>Login to your vault to view your curated collection of your favorite wines.</p>
            <a href="/auth/" class="auth-button">Login</a>
        </div>
        <div class="auth-box">
            <h2>Leaving so soon?</h2>
            <p>We hope to see you again soon. Safe travels!</p>
            <a href="/auth/exit" class="auth-button">Exit</a>
        </div>
    </div>
</main>
</body>
</html>


