<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/images/vinovaultlogo.png" alt="VinoVault Logo">
        </div>
        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            </div>
        <div class="social-media">
            <a href="https://www.facebook.com" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="https://www.pinterest.com" target="_blank" class="social-icon"><i class="fab fa-pinterest"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 VinoVault. All rights reserved.</p>
    </div>
</footer>