<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VinoVault</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
<header>
    <img src="/images/vinovaultlogo.png" alt="VinoVault Logo" class="logo">
</header>
</body>
</html>
