<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <h2>Contact Us</h2>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>