<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VinoVault</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <h1>Welcome to VinoVault</h1>
        <div class="auth-buttons">
            <a href="/register" class="button">Register</a
