<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VinoVault</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main class="background">
        <div class="auth-buttons">
            <a href="/register" class="button">Register</a>
            <a href="/login" class="button">Login</a>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
