header {
    background-color: #5a0c30;
    color: white;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    width: 20%; /* Adjust the size as needed */
    margin-bottom: 10px;
}
