/* index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Footer styling */
footer {
    background-color: #af470c;
    color: #5a0c30;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* Ensure it is positioned relative to the body */
    margin-top: auto; /* Push the footer to the bottom */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-logo img {
    width: 200px;
}

.footer-links {
    flex: 1;
    font-size: 1em;
    text-align: center;
}

.footer-links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #5a0c30;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
}

.social-media .social-icon {
    font-size: 36px;
    color: #5a0c30;
    transition: color 0.3s ease;
}

.social-media .social-icon:hover {
    color: #ffffff;
}

.footer-bottom {
    margin-top: 20px;
}

/* Ensure the footer is at the bottom of the content */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
