/* search.css */
        /* search.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.search-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
}

#databaseSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-left: none;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #AF470c;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.filter-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-group {
    flex: 1;
    margin: 0 10px;
}

.filter-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.filter-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #5a0c30;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wine-card {
    width: 100%;
    background-color: white;
    max-width: 800px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    transition: transform 0.2s;
}

.wine-card:hover {
    transform: translateY(-10px);
}

.wine-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
}

.wine-card .wine-logo {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-right: 15px;
}

.wine-info {
    flex: 1;
}

.wine-info h3 {
    color: #5a0c30;
    margin-bottom: 10px;
}

.wine-info p {
    margin: 5px 0;
}

.logo img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

.section-title {
    text-align: center;
    color: #5a0c30;
    margin-bottom: 20px;
}

/* New styles for buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #5a0c30;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #AF470c;
}